@use "../../scss/" as *;
.user-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-user {
    width: 45%;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 15px -3px rgba(47, 181, 250, 0.05), 0 4px 6px -2px rgba(47, 181, 250, 0.025);
    border: 1px solid rgba(226, 232, 240, 1);
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
.user-info {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: flex-start;
}
