.snackbar {
    background-color: #51a351;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 9999999999999;
    right: 15px;
    top: 20px;
    border-radius: 3px 3px 3px 3px;
    padding: 15px 15px 15px 50px;
    animation: show_slide 1s ease forwards;
}
