@use "../../scss/"as *;
.mes{
    height:95vh;
        ::-webkit-scrollbar {
            display: none;
        }
    }
.mes__header{
    height: 68px;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid #e3ebf6;
    box-sizing: border-box;
}
.mes__header-logo-img{
    height: 2rem;
    object-fit: contain;
    object-position: left;
    max-width: 100%;
    display: block;
}
.mes__main{
    // height: calc(100% - 200px);
    display: flex;
    position: relative;
}
.mes__sidebar{
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: 0;
    border-right: 1px solid #e3ebf6;
    box-sizing: border-box;
    transition: margin-left .2s ease-out;
    z-index: 99;
    background: #fff;
}
.mes__box{
    width: calc(100% - 350px);
    height: 100%;
    display: flex;
    flex-direction: column;
}
.mes__search{
    z-index: 100;
    border-bottom: 1px solid #e3ebf6;
    box-sizing: border-box;
    height: 68px;
    display: flex;
    position: relative;
}
.mes__search-input{
    width: 100%;
    padding: 0.75rem;
    font-size: 16px;
}
.mes__chatlist{
    height: calc(100% - 68px);
    overflow-y: auto;

}
.mes__chatitem{
    transition: none;
    height: 100px;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #e3ebf6;
    box-sizing: border-box;
    color: #333;
        &.active{
            background: rgba(51,152,212,1);
            color:$white;
        }
}
.mes__chatavt{
    height: 56px;
    width: 56px;
    margin: 0 auto;
    border-radius: 9999px;
    cursor: pointer;
        & img{
            width: 100%;
            height: 100%;
            border-radius: inherit;
            display: block;
            object-fit: cover;
        }
}
.mes__time{
    position: absolute;
    font-size: 13px;
    top: 1rem;
    right: 1rem;
    color: #fff;   
        
}
.mes__content{
    width: calc(100% - 40px - 3rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    height: 100%;
}
.mes__title{
    font-size: medium;
    font-weight: 700;
}
.mes__preview{
    position: relative;
    height: 3em;
    color: #333;
    display:flex;
    align-items: center;
    justify-content:space-between;
        &::after{
            content: "";
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 70%;
            height: 1.2em;
        }
}
.mes__box-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid #e3ebf6;
    box-sizing: border-box;
    background: #fff;
    background: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.8) 30%,#fff);
    height: 68px;
    flex: 0 0 68px;
    width: 100%;
}
.mes__box-username{
    font-weight: 700;
    font-size: medium;
}
.mes__box-content{
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: calc(100% - 72px - 70px);
    opacity: 1;
    transition: opacity .1s ease-in
}
.mes__box-time{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
        & p{
            width: fit-content;
            padding: 5px 10px;
            background-color: rgba(0,0,0,.3);
            color: #fff;
            border: 0 solid;
            border-radius: 14px;
        }
}
.mes__box-input{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    position: relative;
}
.mes__box-input-container{
    width: 100%;
    display: flex;
    align-items: center;
}
.mes__box-input-text{
    flex-grow: 1;
    height: 100%;
    padding: 1rem;
    border: 1px solid rgba(237,242,247,1);
    border-radius: 0.75rem;
    resize: none;
    min-height: 72px;
    max-height: 150px;
    overflow: auto;
    display: block;
    font-size: 16px;
}
.send{
    display: flex;
    cursor: pointer;
    margin-left: 1.5rem;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-width: 1px;
    border-radius: 9999px;
    color: #fff;
    color: rgba(255,255,255,1);
    background: rgba(51,152,212,1);
    height: 40px;
    width: 40px;
    flex: 0 0 40px;
        & i {
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
        }
}
.chat-buble{
    display: flex;
    padding: 0.325rem 1rem;
    max-width: 80%;
    width: fit-content;
        &.right{
            margin-left: auto;
        }
}
.content{
    max-width: 564px;
    overflow-x: hidden;
    width: 100%;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    overflow-wrap: break-word;
    position: relative;
    border-radius: 18px;
        &.right{
            background-color: rgba(51,152,212,1);
            color: rgba(255,255,255,1);
        }
        &.left{
            background-color:#f0f2f5;
            color: #050505;
        }
}
.inner-content{
    font-size: .9375rem;
    white-space: pre-wrap;
    line-height: 20px;
}
.chat-avatar-container{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: -0.25rem;
}
.chat-avatar{
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    flex-shrink: 0;
    border-radius: 50%;
        & img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }
}
.mestime{
    float: right;
    display: block;
    right: 18px;
    bottom: 4px;
    font-size: 12px;
    color: rgba(234,248,255,1);
        &.left { 
            color: #b0b0b0;
        } 
}
.avatar-mes{
    margin-right: 7px;
        & a {
            display: block;    
            width: 30px;
            height: 30px;
                & img{
                    width: 100%;
                    height: 100%;
                    border-radius:50%;
                    object-fit: cover;
                }
        }
}
.picked-mes{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 700;
}
.mes__unread{
    width:10px;
    height:10px;
        & span{
            display: block;
            width: 100%;
            height: 100%;
            border-radius:50%;
            background-color:$blue;

        }
}