@use "../../scss/"as *;
.settings {
    margin: 0 0px 30px 0px;
    &__cover{
        height: 170px;
        margin-bottom: 20px;
            &-container{
                position: relative;
                width: 100%;
                height: 100%;
            }
    }
    &__navbar{
        display: flex;
        flex-direction: column;
        &-text{
            font-size: 15px;
            font-weight: 700;
            line-height: 2;
            color: rgba(113,128,150);
            display: inline-block;
            padding-left: 5px;
            border-left: 3px solid $blue;
        }
    }
    &__name{
        text-transform: uppercase;
        color: #4a5568;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 13px;
        display: block;
    }
    &__flex{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
            &-item{
                width: 50%;
                padding: 0 15px;
            }
            &-item-wfull{
                width: 100%;
                padding: 0 15px;
                
            }
    }
    &__input {
        display: block;
        width: 100%;    
        color: #4a5568;
        padding: 15px 20px;
        margin-bottom: 10px;    
        border-radius: 0.25rem;    
        appearance: none;
        border: 1px solid rgba(226, 232, 240);
        background-color: #edf2f7;
        font-size: 16px;
            &:focus{
                background-color: #fff;
            }
            &.wrong{
                border-color: red;
            }
    }  
    &__gender{
        display: flex;
        gap: 0 15px;   
        align-items: center;
        height: 50%;
            &-text{
                margin-left: 5px;
            }    
    }
    &__password{
        display: block;
        text-align: center;
    }
    &__button{
        display: block;
        width: 100%;
        border-radius: 5rem;
        padding: 10px;
        background-color: rgb(66, 153, 225);
        opacity: .5;
        cursor:not-allowed;    
        color: $white;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: 0.75rem;
        font-size: 16px;
            &.active{
                opacity: 1;
                cursor: pointer;
            }
    }
    &__form{
        margin-bottom: 30px;
    }
    &__actions {
        display: flex;
        justify-content: flex-end;
        gap: 0 10px;
            &.cancle{
                font-size: 16px;
                background-color: unset;
                cursor: pointer;
                padding: 10px;
                    &:hover{
                        background-color: #edf2f7;
                    }
            }
            &.save{ 
                font-size: 16px;
                color: $white;
                padding: 10px;
                background-color: rgb(66, 153, 225);
                opacity: 1;
                cursor:pointer;    
                border-radius: 5px;
            }
            &.active{
                opacity: 1;
                cursor: pointer;
            }
    }
    &__textarea{
        resize: none;
        width: 100%;
        color: #4a5568;
        padding: 15px 20px;
        margin-bottom: 20px;
        display: block;
        border: 1px solid rgba(226, 232, 240);
        border-radius: 0.25rem;
        background-color: #edf2f7;
        height: 8rem;
        font-size: 16px;
        font-family: $font-mon;
        font-weight: 500;
            &:focus{
                background-color: #fff;
                outline-offset: 2px;
                border-color: #a0aec0;
            }
            &-lenght{
                font-style: italic;
                color: #2d3748;
                font-size: 12px;
                    &.red{
                        color: red;
                    }
            }
    }
    &__avt {
        border-radius: 50%;
        position: relative;
        overflow: hidden;
            &-icon{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,.5);
                border-radius: 50%;
                cursor: pointer;
                    &.cover{
                        border-radius: 0;
                            &::after{
                                transition: all .3s ease;
                                content: "Thay đổi ảnh bìa";
                                position: absolute;
                                top: 50%;
                                width: 100%;
                                text-align: center;
                                color: #fff;
                                margin-top: 25px;
                                opacity: .6;
                            }
                    }
                    &-upload{
                        display: block;
                        height: 40px;
                        width: 40px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-left: -20px;
                        margin-top: -20px;
                        opacity: .65;
                        transition: .3s ease;
                        animation: un-img-animation linear 0.5s;
                            & svg{
                                :hover{
                                    animation: img-animation linear 0.5s;
                                }
                            }
                    }           
           }
    }
    &__flex-top{
       
        display: flex;
        gap: 0 30px;
        margin-bottom: 20px;
    }
    &__flex-30{
        width: 30%;
    }
    &__flex-70{
        width: 70%;
    }
    &__avt{
        width: 128px;
        height: 128px;
        border-radius: 50%;
        display: block;
            &-img{
                display: block;
                opacity: 1;
                width: 100%;
                height: 100%;
                    &.cover{
                        object-fit: cover;
                    }
            }
            &-input{
                display: none;
                overflow: visible;
            }
    }
    &__date{
        display: flex;
        align-items: center;
        width: 100%;
        gap: 0 10px;
            &-container{
                position: relative;
                width: 33.333333%;
            }
            &-select{
                display: block;
                width: 100%;
                color: #4a5568;
                padding: 15px 10px 10px;
                line-height: 1.25;
                border: 1px solid #edf2f7;
                border-radius: 0.25rem;
                background-color: #edf2f7;
                text-transform: none;
                margin: 0;
                font-size: 16px;
                    &:focus{
                        background-color: #fff;
                        outline-offset: 2px;
                        border-color: #a0aec0;
                    }
            }
            &-drop{
                color: #4a5568;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                pointer-events: none;
                display: flex;
                align-items: center;
                padding: 0 10px;
                    & svg{
                        width: 16px;
                        fill: currentColor;
                        height: 16px;
                        vertical-align: middle;
                    }
            }
    }
    &__mes{
        font-style: italic;
        color: red;
        font-size: 14px;
        margin-bottom: 10px;
    }
    
}
.p-30{
    padding: 0 30px;
}
.modal__change-email{
    transition: all .1s ease-in-out;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    background-color: hsla(0,0%,100%,.5);
    backdrop-filter: blur(15px);
    visibility: visible;
}
.modal-box{
    height: fit-content;
    position: relative;
    background-color: transparent;
    width: 100%;
    max-width: 28rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.mes-err{
    font-style: italic;
    color: #f56565;
    font-size: 12px;
    font-weight: 500;
}
.modal-content{
    margin-bottom: 20px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}
.inputContainer {
    display: flex;
    align-items: center;
    position: relative;
  }
.input-field {
    width: 100%;
    padding-right: 40px;
}
.inputIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
        &:hover{
            color: #4299e1;
        }}
.PiNick {
color: purple;
margin-top: 20px;
}