@use "../../scss/" as *;
.footer {
    max-width: 1030px;
    margin: 0 auto;
    &__container {
        margin-top: 30px;
        padding-bottom: 50px;
    }
    &__about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;

        &-list {
            display: flex;
            gap: 0 20px;
        }
        &-logo {
            width: 180px;
            height: 40px;
            & img {
                width: 100%;
                height: 100%;
            }
        }
        &-text {
            font-size: 12px;
            color: #616161;
            font-weight: 700;
        }
    }
}
