.ContainerLoader{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(167, 167, 167, 0.685);
    z-index: 9999;
}

.Loader {
    position: absolute;
    top: 49%;
    left: 48.5%;
    transform: translate(-50%,-50%);
 
 
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #5973c1;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;


}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
